.container {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  overflow: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('https://images.pexels.com/photos/2468773/pexels-photo-2468773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.heading2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
  background-color: transparent;
  color: white;
  font-family: sans-serif;
}

.select {
  width: 100%;
  padding: 8px;
  border-radius: 2rem;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 20px;
  border: 3px solid #141313;
}

.todoItem {
  background-color: #FDFEFE;
  border: 1px solid #302c2c;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 15px;
  transition: box-shadow 0.2s;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: #333;
  width: 800px;
  box-sizing: border-box;
}

.todoItem span {
  display: inline-block;
  margin: 5px 0;
}

.button1:hover {
  box-shadow: 0 4px 8px red;
}

.button1 {
  padding: 10px;
  font-size: 18px;
  margin: 8px;
  border-radius: 10px;
  border: none;
  background-color: rgb(109, 180, 109);
  color: white;
  font-family:sans-serif;
}

.paragraph {
  font-size: 35px;
  margin: 20px;
  color: black;
  font-family: sans-serif;
}

.heading3 {
  font-size: 38px;
}

.sticker {
  width: 250px;
  height: 250px;
  background-image: url('https://cdn-icons-png.flaticon.com/256/9394/9394754.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 15%;
}


@media (max-width: 900px) {
  .heading2 {
    font-size: 3rem; 
  }
  .select {
    font-size: 18px; 
  }
  .todoItem {
    width: 100%; 
  }
  .button1 {
    font-size: 16px; 
  }
  .logoutButton {
    font-size: 18px;
    top: 10px;
    right: 10px;
    padding: 8px 15px; 
  }
}

@media (max-width: 600px) {
  .heading2 {
    font-size: 2.5rem; 
  }
  .select {
    font-size: 16px; 
  .todoItem {
    width: 100%; 
    font-size: 18px; 
  }
  .button1 {
    font-size: 14px; 
    padding: 8px; 
  }
  .paragraph {
    font-size: 25px;
  }
  .sticker {
    width: 150px;
    height: 150px;
  }
  .logoutButton {
    font-size: 16px;  
    top: 15px;
    right: 10px;
    padding: 8px 12px;
  }
}
}
.logoutButton {
  background-color: rgb(182, 45, 45);
  color: white;
  font-family: sans-serif;
  top:10px;
  left:20px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  z-index:1000;
}
.logoutButton:hover {
  background-color: #ff7875;
}
