.container {
  height: 100vh; 
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 15px;
  overflow: auto;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)),url('https://images.pexels.com/photos/2468773/pexels-photo-2468773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover; 
  background-position-x: center;
  background-position-y: center;
}

.heading2 {
  font-size: 3rem; 
  text-align: center; 
  margin-bottom: 10px; 
  font-style: italic;
  background-color: transparent;
  color: white;
  font-family: sans-serif;
}

.select {
  width:100%;
  padding: 8px;
  border-radius: 2rem;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 20px; 
  border: 3px solid #141313; 
}




.todoItem {
  background-color: #FDFEFE;
  border: 1px solid #302c2c;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 15px;
  transition: box-shadow 0.2s;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: #333;


  box-sizing: border-box;
}

.todoItem span {
  display: inline-block;
  margin: 5px 0;
}


.button1:hover {
  box-shadow: 0 4px 8px red;
}

.button1 {
  padding: 8px;
  font-size: 18px;
  margin: 8px;
  border-radius: 10px;
  border: none;
  background-color: rgb(109, 180, 109);
  color: white; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragraph {
  font-size: 25px;
  margin: 20px;
  color:black;

}


.heading3 {
  font-size: 28px;
  
}
